*{
    margin: 0px;
}

#sidebar{
    grid-area: sidebar;
    background-color: blue;
}

#header{
    grid-area: header;
    background-color: green;
}

#mainContent{
    grid-area: mainContent;
    background-color: gold;
}

body{
    display:grid;
    grid-template: repeat(4,25vh)/repeat(4,25vw);
    grid-template-areas:
    'sidebar header header header'
    'sidebar mainContent mainContent mainContent'
    'sidebar mainContent mainContent mainContent'
    'sidebar mainContent mainContent mainContent';
}