#sidebar{
    grid-area: "sidebar";
    background-color: red;
    width: 500px;
    height: 500px;
}

#header{
    grid-area: "header";
    background-color: green;
    width: 500px;
    height: 500px;
}

#mainContent{
    grid-area: "mainContent";
    background-color: gold;
    width: 500px;
    height: 500px;
}