*{
    margin: 0px;
}

#sidebar{
    grid-area: sidebar;
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#header{
    grid-area: header;
    background-color: green;
}

#mainContent{
    /* display: grid; */
    grid-area: mainContent;
    background-color: gold;
    /* grid-template: repeat(3,175px)/repeat(3,250px); */
}

body{
    display:grid;
    grid-template: repeat(4,25vh)/repeat(4,25vw);
    grid-template-areas:
    'sidebar header header header'
    'sidebar mainContent mainContent mainContent'
    'sidebar mainContent mainContent mainContent'
    'sidebar mainContent mainContent mainContent';
}

.sidebarChild{
    color:white;
}

#mainContentGridContainer{
    margin-top: 45px;
    display: grid;
    grid-template: repeat(3,175px)/repeat(3,250px);
}

.mainContentWindowOne{
    background-color:black;
    border: 1px solid grey;
}

.mainContentWindowTwo{
    background-color: white;
}